.schedule1,.schedule2,.schedule3,.schedule4{
  color:#1E9FFF;
}
.schedule5{
  color:#FFB800;
}
.schedule6{
  color:#8BC34A;
}
.schedule7{
  color:#B240FF;
}
.schedule8,.schedule11{
  color:#259B24;
}
.schedule9,.schedule13,.schedule14{
  color:#6D6F0E;
}
.schedule10{
  color:#009688;
}
.schedule12{
  color:#C6C80D;
}
.schedule15,.schedule16,.schedule17{
  color:#c6c80d;
}
.schedule18{
  color:#111111;
}
.schedule23{
  color:#E51C23;
}
.schedule25{
  color:#757272;
}
.order_name23{
  color: #259B24;
}
.order_name24{
  color: #FF5722;
}
.order_name25{
  color:#757272;
}
.order_name26{
  color:#1E9FFF;
}
.order_name27{
  color:#FFB800;
}
.order_name30{
  color:#1E9FFF;
}
.order_name31{
  color:green;
}
.order_name32{
  color:red;
}
