<!DOCTYPE html>
<html>
<head>
 {include file="public:title"/}
 <style media="screen">
   .layui-table tbody tr:hover{
     background-color: #fff;
   }
   .layui-form-select{
    width: 100px;
   }
 </style>
</head>
<body>
<div class="layui-fluid" class="layui-form">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <crmblok>
          <div style="position: relative;">
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
            <button class="layui-btn layui-btn-normal" onclick="admin_show('添加','{:url('admins/add')}',600,400)"><i class="layui-icon">&#xe608;</i>添加</button>
            <form class="layui-form" method="get" style="display:inline-block;position: absolute;right: 0;">
              <div class="layui-input-inline">
                <select name="user_type">
                  <option value="1" {if condition="$get['user_type'] == 1"}select{/if}>账号</option>
                  <!-- <option value="2" {if condition="$get['user_type'] == 2"}select{/if}>昵称</option> -->
                </select>
              </div>
              <div class="layui-input-inline">
                <input type="text" name="user_name" value="{$get.user_name}" class="layui-input" style="background-color:#eee;border:none;">
              </div>
              <button class="layui-btn layui-btn-normal" type="submit"><i class="layui-icon layui-icon-search"></i>搜索</button>
            </form>
          </div>
        </crmblok>
        <table class="layui-table">
          <thead>
            <tr>
              <th width="25" align="center">
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
              </th>
              <th align="center" style="width:80px;">序号</th>
              <th align="center">用户名</th>
              <th align="center" style="width:60px;">账号状态</th>
              <th align="center" style="width:220px;">操作</th>
            </tr>
          </thead>
          <tbody>
          {empty name="list"}
            <tr align="center" style="height:500px;"><td colspan="7">暂无用户</td></tr>
          {else}
            {foreach $list as $l}
              <tr>
                <td>
                  <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$l.id}'><i class="layui-icon">&#xe605;</i></div>
                </td>
                <td>{$l['id']}</td>
                <td>{$l['user_name']}</td>
                <td>
                  {if condition="$l['user_status'] eq 1"}
                    <span style="color:#8BC34A;">正常</span>
                  {else}
                    <span style="color:#E51C23;">冻结</span>
                  {/if}
                </td>
                <td>
                  {if condition="$l['id'] neq 1"}
                	<button class="layui-btn layui-btn-normal layui-btn-sm" onclick="admin_show('编辑员工信息','{:url('admins/edit',['id'=>$l['id']])}',600,400)">编辑</button>
                  <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="del('{$l['id']}')">删除</button>
                  {else}
                  <button class="layui-btn layui-btn-normal layui-btn-sm layui-btn-disabled">编辑</button>
                  <button class="layui-btn layui-btn-normal layui-btn-sm layui-btn-disabled">删除</button>
                  {/if}
                </td>
              </tr>
            {/foreach}
          {/empty}
          </tbody>
        </table>
    </div>
    </div>
  </div>
  <script>
  	function del(id)
  	{
  		layer.confirm("您确定删除该用户吗？",function(){
  			$.ajax({
  				url:"{:url('admins/del')}",
  				data:{id:id},
  				type:'post',
  				success:function(data)
  				{
  					var status = JSON.parse(data);
  					layer.msg(status.msg,{icon:status.icon,time:1000},function(){
  						window.location.reload();
  					});
  				}
  			});
  		});
  	}
    function delAll(){
      var datas = tableCheck.getData();
      layer.confirm("确认删除选择的用户吗？",function(){
        $.ajax({
          url:"{:url('admins/del')}",
          data:{id:JSON.stringify(datas)},
          type:'post',
          success:function(data){
            var status = JSON.parse(data);
            layer.msg(status.msg,{icon:status.icon,time:1000},function(){
              window.location.reload();
            });
          }
        });
      });
    }

    function admin_show(title,url,w,h){
      var index;
      if (title == null || title == '') {
        title=false;
      };
      if (url == null || url == '') {
        url="404.html";
      };
      if (w == null || w == '') {
        w=($(window).width()*0.9);
      };
      if (h == null || h == '') {
        h=($(window).height() - 50);
      };
      index = layer.open({
        type: 2,
        area: [w+'px', h +'px'],
        fix: false, //不固定
        title: title,
        content: url
      });
      //改变窗口大小时，重置弹窗的宽高，防止超出可视区域（如F12调出debug的操作）
      $(window).on("resize",function(){
        layui.layer.full(index);
      })
    }
  </script>
</body>
</html>
