<!DOCTYPE html>
<html>

<head>
  {include file="public:title"/}
</head>

<body>
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav  layui-layout-right">
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh"></i>
              <!-- <cite>刷新</cite> -->
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;">
              {if condition="$user.user_face == ''"}
              <img src="//t.cn/RCzsdCq" class="layui-nav-img">
              {else}
              <img src="{$user.user_face}" class="layui-nav-img">
              {/if}
              {$user.user_name}
            </a>
            <dl class="layui-nav-child">
             <dd onclick="pwdedit('{:url('AjaxAction/password')}')"><a href="javascript:;">修改密码</a></dd>
              <dd id="delcache"><a href="javascript:;">清除缓存</a></dd>
              <dd id="logout"><a href="javascript:;">退出系统</a></dd>
            </dl>
          </li>
        </ul>
      </div>

      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="{:url('index/console')}">
            <span><b>{$system.title}</b></span>
          </div>

          <ul class="layui-nav layui-nav-tree" id="nav">
            {foreach $childMenu as $cm}
            <li class="layui-nav-item">
              {if condition="!isset($cm.url)"}
              <a href="javascript:;" lay-tips="{$cm.name}" lay-direction="2">
                <i class="layui-icon {$cm.icon}"></i>
                <cite>{$cm.name}</cite>
              </a>
              {else}
              <a lay-href="{$cm.url}" lay-tips="{$cm.name}" lay-direction="2">
                <i class="layui-icon {$cm.icon}"></i>
                <cite>{$cm.name}</cite>
              </a>
              {/if}
              {notempty name="$cm['child']"}
              <dl class="layui-nav-child">
                {foreach $cm['child'] as $cd}
                <dd><a lay-href="{$cd.url}">
                    <i class="layui-icon {$cd.icon}"></i>
                    <cite>{$cd.name}</cite>
                  </a>
                </dd>
                {/foreach}
              </dl>
              {/notempty}
            </li>
            {/foreach}
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="{:url('index/console')}" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>


      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="{:url('index/console')}" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>

      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>
  {include file="public:footer"/}
  <script>
    // 退出登陆
    $(function() {
      $('#logout').click(function() {
        layer.confirm("您确定退出吗？", function() {
          $.ajax({
            type: 'post',
            url: '{:url("AjaxAction/logout")}',
            data: {},
            success: function(data) {
              var status = JSON.parse(data);
              layer.msg(status.msg, {
                icon: status.icon,
                time: 1000
              }, function() {
                location.href = '{:url("login/login")}';
              });
            }
          });
        });
      });
      // 清除缓存
      $("#delcache").click(function() {
        layer.confirm("为了提高用户体验，请您经常清除缓存", function() {
          $.ajax({
            url: "{:url('AjaxAction/delruntime')}",
            data: {},
            type: 'get',
            success: function(data) {
              layer.msg('删除缓存成功', {
                icon: 6,
                time: 1000
              });
            }
          });
        });
      });
    });
    // 修改密码弹框
    function pwdedit(url) {
      layer.prompt({
        title: '请输入新密码：',
        formType: 1
      }, function(pass, index) {
        $.ajax({
          url: url,
          data: {
            pass: pass
          },
          type: 'post',
          success: function(data) {
            var status = JSON.parse(data);
            if (status.icon == 6) {
              layer.msg(status.msg, {
                icon: status.icon,
                time: 1000
              }, function() {
                window.location.reload();
              });
            } else {
              layer.msg(status.msg, {
                icon: status.icon,
                time: 1000
              });
            }
          }
        });
      });
    }
  </script>
</body>

</html>
