{include file="public/header"}
<link rel="stylesheet" href="__TROOT__/layuiadmin/layui/css/layui.css" media="all">
<script src="__TROOT__/layuiadmin/layui/layui.js"></script>
<div id="website" class="trans">
    <div id="banner" class="banner relative fz0 swiper-container max-limit">
        <div class="swiper-wrapper">
            <div class="item swiper-slide relative over"> <img src="__TROOT__/index/img/63f6710629.jpg" class="max-w100 block trans relative"> </div>
        </div>
    </div>
    <div class="blank20"></div>
    <style>
        .stui-screen__list {
            position: relative;
            padding: 10px 0 5px;
        }
        .stui-screen__list li {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .stui-screen__list li span {
            display: inline-block;
            padding: 3px 0 3px;
        }
        .stui-screen__list li a {
            color: #333333;
        }
        .stui-screen__list li a {
            display: inline-block;
            padding: 3px 10px;
            border-radius: 2px;
        }
        .text-muted {
            color: #999999;
        }
        .on{
            color: #009FE3 !important;
        }
        .layui-form-radio>i:hover, .layui-form-radioed>i {
            color: #009FE3;
        }
    </style>
    <div id="products">
        <div class="wrap1200 path"> 当前位置：<a href='/'>首页</a> > <a href='{:url("product/index")}'>租车服务</a> >  </div>
        <div class='wrap1200' style="width: 100%;padding: 1.666% 2.08333%;">
            <ul class="stui-screen__list type-slide bottom-line-dot clearfix">
                <li>
                    <span class="text-muted">国内汽车</span>
                </li>
                {foreach $china_cate as $c}
                <li><a href="{:url('product/index',array('cid'=>$c['id']))}" class="text-muted {if condition='$field.cid == $c.id'}on{/if}">{$c['cate_name']}</a></li>
                {/foreach}
            </ul>
            {if condition="!empty($_cate)"}
            <ul class="stui-screen__list type-slide bottom-line-dot clearfix">
                <li>
                    <span class="text-muted">国外汽车</span>
                </li>
                {foreach $_cate as $_c}
                <li><a href="{:url('product/index',array('cid'=>$_c['id']))}" class="text-muted {if condition='$field.cid == $_c.id'}on{/if}">{$_c['cate_name']}">{$_c['cate_name']}</a></li>
                {/foreach}
            </ul>
            {/if}
        </div>
        <div class="wrap1200">
            <div class="detail-box clean">
                <div class="img fl">
                    <div class="big-imgs swiper-container text-center">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide fz0">
                                <img src="{$field.pic}" alt="" class="max-w100" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-info fr">
                    <div class="blank20"></div>
                    <div class="name">商品名称：{$field.name}</div>
                    <div class="blank20"></div>
                    <div class="brief">商品库存：{$field.stock} 件</div>
                    <div class="blank12"></div>
                    <div class="brief">浏览次数：{$field.view} 次</div>
                    <div class="blank12"></div>
                    <div class="brief">购买数量：<input type="text" name="num" value="1" onchange="getValue(this)" style="width: 50px;text-align: center"> 件</div>
                    <div class="blank12"></div>
                    <div class="brief"><button id="buy" data-id="{$field.id}" data-num="1" style="border: none; background: #009FE3;color: #fff;">购买</button></div>
                    <div class="blank12"></div>
                    <script>
                        function getValue(obj){
                            $('#buy').attr('data-num',obj.value)
                        }

                        $('#buy').click(function () {
                            var id = $(this).attr('data-id');
                            var num = $(this).attr('data-num');

                            $.post("{:url('product/buy_action')}",{id:id,num:num},function (res) {
                                console.log(res)
                                if (res.code == 0){
                                    alert('购买成功');
                                    window.location.href = "{:url('users/orders')}";
                                }else{
                                    alert(res.msg);
                                }
                            },'json');
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="blank25"></div>
        <div class="wrap1200 des-wrap">
            <div class="card-wrap clean">
                <div class="card fl">详细内容</div>
                <div class="card fl on">宝贝评论</div>
            </div>
            <div class="des block" style="display: none;">
                {$field.desc}
            </div>
            <div class="des block">
              <div class="layui-card" style="overflow: hidden;">
                <table class="layui-table">
                  <thead>
                    <tr>
                      <th align="center">评论用户</th>
                      <th align="center">评论商品</th>
                      <th align="center">评论内容</th>
                      <th align="center">评论星级</th>
                      <th align="center">是否好评</th>
                      <th align="center">评论时间</th>
                      <th align="center">评论设备</th>
                    </tr>
                  </thead>
                  <tbody>
                    {foreach $comment as $c}
                    <tr>
                      <td>{$c['user_name']}</td>
                      <td>{$c['product_name']}</td>
                      <td>{$c['comment']}</td>
                      <td>{$c['rate']}</td>
                      <td>{if condition="$c['is_praise'] == 1"}好评{elseif condition="$c['is_praise'] == 2"}中评{else}差评{/if}</td>
                      <td>{:date('Y-m-d H:i:s',$c['create_t'])}</td>
                      <td>{$c['device']}</td>
                    </tr>
                    {/foreach}
                  </tbody>
                </table>
                <div id="turn_page" style="margin: 10px 0;">
                    {$comment->render()}
                </div>
              </div>
              <div class="layui-card">
                <div class="layui-card-header">发表评论</div>
                <div class="layui-form layui-card-body">
                    <input type="hidden" name="product_id" value="{$field.id}">
                    <input type="hidden" name="product_name" value="{$field.name}">
                    <input type="hidden" name="uid" value="{$user.id}">
                    <input type="hidden" name="user_name" value="{$user.user_name}">
                    <input type="hidden" name="type" value="1">
                    <div class="layui-form-item">
                        <label class="layui-form-label" for="user_name">评论内容</label>
                        <div class="layui-input-block">
                            <textarea name="comment" id="comment" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否好评</label>
                        <div class="layui-input-block">
                            <input type="radio" name="is_praise" title="好评" value="1" checked class="layui-input">
                            <input type="radio" name="is_praise" title="中评" value="2" class="layui-input">
                            <input type="radio" name="is_praise" title="差评" value="3" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label" for="rate">星级</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" value="5" id="rate" name="rate">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <label class="layui-form-label"><button class="layui-btn" lay-submit lay-filter="comment">评论</button></label>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="blank20"></div>
    <div class="blank20"></div>
    <div class="blank20"></div>
    <script type="text/javascript">
      layui.use(['form'],function () {
        var form = layui.form;
        //保存信息
        form.on('submit(comment)', function(data){
            $.post('{:url("product/comment_action")}',data.field,function (res) {
                if (res.icon == 6){
                    layer.msg(res.msg,{icon: res.icon,time:1000},function(){
                        window.location.reload();
                    });
                } else {
                    layer.msg(res.msg,{icon: res.icon,time:1000},function(){
                        window.location.reload();
                    });
                }
            },'json');
            return false;
        });
      });
    </script>
</div>
{include file="public/footer"}
