{include file="public/header"}
<div id="website" class="trans">
    <div id="banner" class="banner relative fz0 swiper-container max-limit">
        <div class="swiper-wrapper">
            <div class="item swiper-slide relative over"> <img src="__TROOT__/index/img/63f6710629.jpg" class="max-w100 block trans relative"> </div>
        </div>
    </div>
    <div class="blank20"></div>
    <style>
        #products .list-item {
            width: 21.66%;
            margin-left: 1.5%;
            margin-bottom: 2.5%;
            vertical-align: top;
        }
        .stui-screen__list {
            position: relative;
            padding: 10px 0 5px;
        }
        .stui-screen__list li {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .stui-screen__list li span {
            display: inline-block;
            padding: 3px 0 3px;
        }
        .stui-screen__list li a {
            color: #333333;
        }
        .stui-screen__list li a {
            display: inline-block;
            padding: 3px 10px;
            border-radius: 2px;
        }
        .text-muted {
            color: #999999;
        }
        .on{
            color: #009FE3 !important;
        }
    </style>
    <div id="products">
        <div class="wrap1200">
            <div class="products-list-title relative">
                <div class="title fl">租车服务</div>
            </div>
            <div class="blank25"></div>
            <div class="fz0">
                <div class='list-item inline-block' style="width: 100%;">
                    <ul class="stui-screen__list type-slide bottom-line-dot clearfix">
                        <li>
                            <span class="text-muted">国内汽车</span>
                        </li>
                        {foreach $china_cate as $c}
                            <li><a href="{:url('product/index',array('cid'=>$c['id']))}" class="text-muted {if condition='isset($params.cid) && $params.cid == $c.id'}on{/if}">{$c['cate_name']}</a></li>
                        {/foreach}
                    </ul>
                    {if condition="!empty($_cate)"}
                    <ul class="stui-screen__list type-slide bottom-line-dot clearfix">
                        <li>
                            <span class="text-muted">国外汽车</span>
                        </li>
                        {foreach $_cate as $_c}
                        <li><a href="{:url('product/index',array('cid'=>$_c['id']))}" class="text-muted {if condition='isset($params.cid) && $params.cid == $_c.id'}on{/if}">{$_c['cate_name']}</a></li>
                        {/foreach}
                    </ul>
                    {/if}
                </div>
            </div>
            <div class="blank25"></div>
            <div class="fz0">
                {foreach $list as $l}
                <div class='list-item inline-block '>
                    <a href="{:url('product/detail',array('id'=>$l['id']))}"><img src="{$l['pic']}" width="100%" alt="{$l['name']}" /></a>
                    <div class="list-item-wrap" style="min-height: auto">
                        <div class="list-item-name over"><a href="{:url('scenic/detail',array('id'=>$l['id']))}" title="{$l['name']}">{$l['name']}</a></div>
                        <div class="clear"></div>
                    </div>
                </div>
                {/foreach}
            </div>
            <div class="blank20"></div>
            <div class="blank20 hide-992"></div>
            <div class="blank20 hide-992"></div>
            <div id="turn_page">
                {$list->render()}
            </div>
            <div class="blank20"></div>
            <div class="blank20 hide-992"></div>
            <div class="blank20 hide-992"></div>
            <div class="blank20 hide-992"></div>
        </div>
    </div>
</div>
{include file="public/footer"}