
{include file="public/header"}
<div id="website" class="trans">
    <div id="banner" class="banner relative fz0 swiper-container max-limit">
        <div class="swiper-wrapper">
          <div class="item swiper-slide relative over"> <img src="uploads/190418/1-1Z41P9512CC.jpg" class="max-w100 block trans relative"> </div>
          <div class="item swiper-slide relative over"> <img src="uploads/190418/1-1Z41P95204L1.jpg" class="max-w100 block trans relative"> </div>
        </div>
        <a href="javascript:;" class="prev banner-btn trans fa fa-angle-left absolute" rel="nofollow"></a>
        <a href="javascript:;" class="next banner-btn trans fa fa-angle-right absolute" rel="nofollow"></a>
    </div>
    <div class="blank15"></div>
    <div class="blank15"></div>
    <div id="products" class="index over">
        <div class="web-title text-center">
            <div class="title-0">经典线路</div>
            <div class="title-1 ">Class Route</div>
        </div>
        <div class="categorys text-center hide-992">
            <a href="{:url('product/index')}" class="trans-internal inline-block" rel="nofollow">租车服务</a>
            <a href="{:url('scenic/index')}" class="trans-internal inline-block" rel="nofollow">景点分类</a>
            <a href="{:url('guide/index')}" class="trans-internal inline-block" rel="nofollow">导游信息</a>
        </div>
        <div class="categorys text-center wow fadeInUp block-992 relative">
            <div class="dropdown inline-block">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> 所有 <span class="caret"></span> </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                    <li><a href="{:url('product/index')}" rel="nofollow" cid="1">租车服务</a></li>

                    <li><a href="{:url('scenic/index')}" rel="nofollow" cid="1">景点分类</a></li>

                    <li><a href="{:url('guide/index')}" rel="nofollow" cid="1">导游信息</a></li>

                </ul>
            </div>
        </div>
<!--        <div class="products-list clean max-limit swiper-container">-->
<!--            <div class="swiper-wrapper"> <a class="item fl relative scale swiper-slide" fid="1" href="a/chujingyou/faguo/18.html" uid="0,1,">-->
<!--                <div class="over"><img src="uploads/allimg/190419/1-1Z4191616060-L.jpg" alt="" class="max-w100 block scale-img trans"></div>-->
<!--                <div class="name absolute">迪拜经典线路</div>-->
<!--            </a>-->
<!--                <a class="item fl relative scale swiper-slide" fid="1" href="a/chujingyou/24.html" uid="0,1,">-->
<!--                    <div class="over"><img src="uploads/allimg/190419/1-1Z4191641430-L.jpg" alt="" class="max-w100 block scale-img trans"></div>-->
<!--                    <div class="name absolute">泰国1</div>-->
<!--                </a>-->
<!--                <a class="item fl relative scale swiper-slide" fid="1" href="a/chujingyou/23.html" uid="0,1,">-->
<!--                    <div class="over"><img src="uploads/allimg/190419/1-1Z4191639500-L.jpg" alt="" class="max-w100 block scale-img trans"></div>-->
<!--                    <div class="name absolute">法国一</div>-->
<!--                </a>-->
<!--                <a class="item fl relative scale swiper-slide" fid="1" href="a/chujingyou/22.html" uid="0,1,">-->
<!--                    <div class="over"><img src="uploads/allimg/190419/1-1Z419163U70-L.jpg" alt="" class="max-w100 block scale-img trans"></div>-->
<!--                    <div class="name absolute">新加坡1</div>-->
<!--                </a>-->
<!--                <a class="item fl relative scale swiper-slide" fid="1" href="a/chujingyou/21.html" uid="0,1,">-->
<!--                    <div class="over"><img src="uploads/allimg/190419/1-1Z419162Q80-L.jpg" alt="" class="max-w100 block scale-img trans"></div>-->
<!--                    <div class="name absolute">泰国</div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="opt text-center fz0 nowrap"> <a href="javascript:;" class="prev inline-block middle arrow arrow-left relative trans trans-internal" rel="nofollow"></a> <a href="a/chujingyou/index.html" class="inline-block middle more glyphicon glyphicon-th-large trans" title="查看更多列表"></a> <a href="javascript:;" class="next inline-block middle arrow arrow-right relative trans trans-internal" rel="nofollow"></a> </div>-->
    </div>
    <div class="blank20"></div>
    <div class="blank25"></div>
    <div class="blank20"></div>
    <div class="blank20"></div>
    <div class="blank20"></div>
    <div id="index-news">
        <div class="wrap1596 over border">
            {foreach $news as $k=>$n}
            <div class="item fl clean">
                <div class="main {if condition='$k < 2'}fl{else}fr{/if} border-box">
                    <div class="news-date">19-04-19</div>
                    <div class="news-title block" href=""><a href="{:url('news/detail',array('id'=>$n.id))}">{$n.title}</a></div>
                    <div class="news-brief">{$n.desc}</div>
                </div>
                <div class="img scale over fr relative right clean"><a href="{:url('news/detail',array('id'=>$n.id))}"><img src="{$n.pic}" class="max-w100 trans scale-img" /></a></div>
            </div>
            {/foreach}

            <div class="clear"></div>
        </div>
        <div class="blank25"></div>
        <div class="blank25"></div>
        <a class="see-more block text-center" href="{:url('news/index')}">查看更多 ></a> </div>
    <div class="blank25"></div>
    <div class="blank25"></div>
</div>
{include file="public/footer"}
