
{include file="public/header"}
<div id="website" class="trans">
    <div id="banner" class="banner relative fz0 swiper-container max-limit">
        <div class="swiper-wrapper">
          <div class="item swiper-slide relative over"> <img src="uploads/190418/1-1Z41P9512CC.jpg" class="max-w100 block trans relative"> </div>
          <div class="item swiper-slide relative over"> <img src="uploads/190418/1-1Z41P95204L1.jpg" class="max-w100 block trans relative"> </div>
        </div>
        <a href="javascript:;" class="prev banner-btn trans fa fa-angle-left absolute" rel="nofollow"></a>
        <a href="javascript:;" class="next banner-btn trans fa fa-angle-right absolute" rel="nofollow"></a>
    </div>
    <div class="blank15"></div>
    <div class="blank15"></div>
    <style>
        .categorys img:hover{
            transition: all 0.6s;
            transform: scale(1.1);
        }
        .categorys a:hover{
            border-bottom: 2px solid #009FE3;
        }
        .title-2 a:hover{
            transition: all 300ms;
            transform: scale(1.1);
            border-bottom: 2px solid #0000FF;
        }
    </style>
    <div id="products" class="index over">
        <div style="width: 100px;height: 4px;background-color: #009FE3;margin: 20px auto;"></div>
        <div class="web-title text-center">
            <div class="title-0" style="font-size: 20px;font-weight: bold;margin-bottom: 10px;">自然的遗产 &nbsp;&nbsp; 世界的武隆</div>
            <div class="title-1">武隆喀斯特地区山貌</div>
            <div class="title-2" style="margin-top: 40px;">
                <a href="#" style="display:block;margin:0 auto;width: 70px;height: 40px;border: 1px solid #009FE3;line-height: 40px;color: #009FE3;">探索</a>
            </div>
        </div>

        <div class="categorys text-center" style="margin-top: 50px;">
            <div style="height: 80px;width: 33%;margin: 0 auto;display: inline-block;">
                <a href="{:url('product/index')}" style="font-size: 14px;color: #333;width: 60px;" class="trans-internal inline-block" rel="nofollow">
                    <img src="/static/index/img/cart.png" style="width: 60px;height: 60px;margin: 5px 0;" alt="租车服务">租车服务
                </a>
            </div>
            <div style="height: 80px;width: 33%;margin: 0 auto;display: inline-block;">
                <a href="{:url('scenic/index')}" style="font-size: 14px;color: #333;width: 60px;" class="trans-internal inline-block" rel="nofollow">
                    <img src="/static/index/img/scenic.png" style="width: 60px;height: 60px;margin: 5px 0;" alt="景点分类">景点分类
                </a>
            </div>
            <div style="height: 80px;width: 33%;margin: 0 auto;display: inline-block;">
                <a href="{:url('guide/index')}" style="font-size: 14px;color: #333;width: 60px;" class="trans-internal inline-block" rel="nofollow">
                    <img src="/static/index/img/guide.png" style="width: 60px;height: 60px;margin: 5px 0;" alt="导游信息">导游信息
                </a>
            </div>
<!--            <a href="{:url('scenic/index')}" class="trans-internal inline-block" rel="nofollow">景点分类</a>-->
<!--            <a href="{:url('guide/index')}" class="trans-internal inline-block" rel="nofollow">导游信息</a>-->
        </div>
    </div>
    <div class="blank20"></div>
    <div class="blank25"></div>
    <div class="blank20"></div>
    <div class="blank20"></div>
    <div class="blank20"></div>
    <div id="index-news">
        <div class="wrap1596 over border">
            {foreach $news as $k=>$n}
            <div class="item fl clean">
                <div class="main {if condition='$k < 2'}fl{else}fr{/if} border-box">
                    <div class="news-date">19-04-19</div>
                    <div class="news-title block" href=""><a href="{:url('news/detail',array('id'=>$n.id))}">{$n.title}</a></div>
                    <div class="news-brief">{$n.desc}</div>
                </div>
                <div class="img scale over fr relative right clean"><a href="{:url('news/detail',array('id'=>$n.id))}"><img src="{$n.pic}" class="max-w100 trans scale-img" /></a></div>
            </div>
            {/foreach}

            <div class="clear"></div>
        </div>
        <div class="blank25"></div>
        <div class="blank25"></div>
        <a class="see-more block text-center" href="{:url('news/index')}">查看更多 ></a> </div>
    <div class="blank25"></div>
    <div class="blank25"></div>
</div>
{include file="public/footer"}
