{include file="public/header"}
<div id="website" class="trans">
    <div id="banner" class="banner relative fz0 swiper-container max-limit">
        <div class="swiper-wrapper">
            <div class="item swiper-slide relative over"> <img src="__TROOT__/index/img/63f6710629.jpg" class="max-w100 block trans relative"> </div>
        </div>
    </div>
    <div class="blank20"></div>
    <div id="products">
        <div class="wrap1200 path"> 当前位置：<a href='/'>首页</a> > <a href='{:url("scenic/index")}'>景点分类</a> >  </div>
        <div class="wrap1200">
            <div class="detail-box clean">
                <div class="img fl">
                    <div class="big-imgs swiper-container text-center">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide fz0">
                                <img src="{$field.pic}" alt="" class="max-w100" >
                            </div>
<!--                            <div class="swiper-slide fz1">-->
<!--                                <img src="../../uploads/allimg/190419/1-1Z419163Z2.jpg" alt="" class="max-w100" >-->
<!--                            </div>-->
<!--                            <div class="swiper-slide fz2">-->
<!--                                <img src="../../uploads/allimg/190419/1-1Z419163Z3.jpg" alt="" class="max-w100" >-->
<!--                            </div>-->
                        </div>
                    </div>
                    <!--<div class="small-img relative">
                      <div class="fa fa-angle-left fa-3x absolute"></div>
                      <div class="small-img-wrap swiper-container clean">
                        <div class="swiper-wrapper"> <div class="small-img-item swiper-slide fz0"><img src="/204/uploads/allimg/190419/1-1Z419163U2.jpg" width="100%"/></div><div class="small-img-item swiper-slide fz1"><img src="/204/uploads/allimg/190419/1-1Z419163Z2.jpg" width="100%"/></div><div class="small-img-item swiper-slide fz2"><img src="/204/uploads/allimg/190419/1-1Z419163Z3.jpg" width="100%"/></div> </div>
                      </div>
                      <div class="fa fa-angle-right fa-3x absolute"></div>
                    </div>-->
                </div>
                <div class="right-info fr">
                    <div class="blank20"></div>
                    <div class="name">{$field.name}</div>
                    <div class="blank20"></div>
                    <div class="brief">{$field.desc}</div>
                    <div class="blank12"></div>
                </div>
            </div>
        </div>
        <div class="blank25"></div>
        <div class="wrap1200 des-wrap">
            <div class="card-wrap clean">
                <div class="card fl on">详细内容</div>
            </div>
            <div class="des block">第1天 深圳&mdash;香港&mdash;曼谷<br />
                抵达城市：曼谷<br />
                用 &nbsp; &nbsp; &nbsp; 餐：早餐：敬请自理； 午餐：敬请自理； 晚餐：敬请自理；<br />
                住 &nbsp; &nbsp; &nbsp; 宿：曼谷<br />
                交 &nbsp; &nbsp; &nbsp; 通：飞机、汽车<br />
                于指定时间在深圳蛇口码头（国际港澳大厅）或深圳湾口岸集合，由领队带领办理相关出国手续。乘船或乘车前往香港国际机场（约45分钟），搭乘班机自香港直飞&ldquo;天使之都&rdquo;&mdash;曼谷（约3小时），抵达泰国曼谷机场，后入住酒店休息。<br />
                温馨提示：<br />
                1、请出发前仔细阅读我们为团友精心准备的泰国游注意事项。<br />
                2、如对航班有特殊要求，请及时和工作人员落实出团准确航班，以免耽误行程<br />
                第2天 曼谷<br />
                抵达城市：曼谷<br />
                用 &nbsp; &nbsp; &nbsp; 餐：早餐：含； 午餐：含； 晚餐：含；<br />
                住 &nbsp; &nbsp; &nbsp; 宿：曼谷<br />
                交 &nbsp; &nbsp; &nbsp; 通：汽车<br />
                早餐后：【阿兰达博物馆】（约60分钟）<br />
                午餐后：【拉玛皇朝大皇宫、玉佛寺】（约90分钟）-【游湄南河、远眺郑皇庙】（约30分钟）<br />
                晚餐后：返回酒店休息。阿兰达皇家博物馆（Throne Anantasamakom）<br />
                2006年九世泰王在此宴请全世界各国贵宾后，才对外开放的皇家博物馆。国王专门聘请意大利着名工匠建造，具有浓浓的欧式风情。它不仅外观气势恢宏，内饰细节精美绝伦。博物馆内遍布奇珍异宝，各式精贵的皇家珍品琳琅满目，价值连城，让人叹为观止。</div>
            <div class="des clean none fz0"> </div>
        </div>
    </div>
    <div class="blank20"></div>
    <div class="blank20"></div>
    <div class="blank20"></div>
</div>
{include file="public/footer"}