<!DOCTYPE html>
<html>
<head>
{include file="public:title"/}
<style media="screen">
.layui-form-select{
  width: 165px;
}
.layui-form-item .layui-input-inline{
  width: auto;
}
</style>
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">添加景点</div>
          <div class="layui-form layui-card-body" pad15>
            <div class="layui-form-item">
              <label class="layui-form-label" for="name">名称</label>
              <div class="layui-input-block">
                <input type="text" name="name" id="name" lay-verify="required" class="layui-input">
              </div>
  			</div>
            <div class="layui-form-item">
              <label class="layui-form-label" for="addr">地址</label>
              <div class="layui-input-block">
                <input type="text" value="" class="layui-input" name="addr" id="addr">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label" for="desc">简介</label>
              <div class="layui-input-block">
                <textarea name="desc" id="desc" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label" for="pic">封面</label>
              <div class="layui-input-block">
                <button type="button" style="float:left;margin-right:1%;" id="pic" class="layui-btn"><i class="layui-icon">&#xe67c;</i>上传</button>
                <input type="text" style="width:53%;float:left;display:none;background-color:#dcdcdc;" readonly name="pic" class="layui-input">
                <div id="pic_img" style="margin-top: 10px;">

                </div>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label" for="rate">星级</label>
              <div class="layui-input-block">
                <input type="number" value="" class="layui-input" name="rate" id="rate">
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                  <label class="layui-form-label"><button class="layui-btn" lay-submit lay-filter="add">添加</button></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    layui.use(['form','upload'], function(){
      var form = layui.form,upload = layui.upload;
      //多图上传实例
      upload.render({
        elem: '#pic',
        url: '{:url("AjaxAction/upload")}',
        accept:"images",
        acceptMime: 'image/*',
        exts:"jpg|png|gif|bmp|jpeg",
        auto:true,
        size:{$conf['maxfile']},
        drag:false,
        before: function(obj) {
          layer.msg('上传中...', {icon: 16,shade: 0.01,time: 0})
        },
        done: function(res) {
          layer.close(layer.msg('上传成功！'));
          $('input[name=pic]').val(res.data);
          // $('input[name=user_face]').css({'display':'block'});
          $('#pic_img').html('<img src="'+res.data+'" />');
        }
        ,error: function(){
          layer.msg('上传错误！');
        }
      });
      form.on('submit(add)', function(data){
        $.post('{:url("Scenic/add")}',data.field,function (res) {
          if (res.icon == 6){
            layer.msg(res.msg,{icon: res.icon,time:1000},function(){
              window.parent.location.reload();
            });
          } else {
            layer.msg(res.msg,{icon: res.icon,time:1000},function(){
              window.location.reload();
            });
          }
        },'json');
        return false;
      });
    });
  </script>
</body>
</html>
