{include file="public/header"}
<div id="website" class="trans">
    <div id="banner" class="banner relative fz0 swiper-container max-limit">
        <div class="swiper-wrapper">
            <div class="item swiper-slide relative over"> <img src="__TROOT__/index/img/63f6710629.jpg" class="max-w100 block trans relative"> </div>
        </div>
    </div>
    <div class="blank20"></div>
    <div id="products">
        <div class="wrap1200">
            <div class="products-list-title relative">
                <div class="title fl">导游信息</div>
            </div>
            <div class="blank25"></div>
            <div class="fz0">
                <style>
                    .hover:hover{
                        border: 1px solid #009FE3;
                        box-shadow: 2px 2px 3px #009FE3;
                        overflow: hidden;
                    }
                    .hover:hover img{
                        /*cursor:pointer;*/
                        width: 100%;
                        transition: all 0.6s;
                        transform: scale(1.1);
                        z-index: -1;
                    }
                    .hover:hover .list-item-name a{
                        border-bottom: 2px solid #009FE3;
                    }
                </style>
                {foreach $list as $l}
                <div class='list-item inline-block hover'>
                    <a href="{:url('guide/detail',array('id'=>$l['id']))}"><img src="{$l['face']}" width="100%" alt="{$l['name']}" /></a>
                    <div class="list-item-wrap">
                        <div class="list-item-name over"><a href="{:url('guide/detail',array('id'=>$l['id']))}" title="{$l['name']}">{$l['name']}</a></div>
                        <div class="list-item-brief over">{$l['desc']}</div>
                        <div class="clear"></div>
                    </div>
                </div>
                {/foreach}
            </div>
            <div class="blank20"></div>
            <div class="blank20 hide-992"></div>
            <div class="blank20 hide-992"></div>
            <div id="turn_page">
                {$list->render()}
            </div>
            <div class="blank20"></div>
            <div class="blank20 hide-992"></div>
            <div class="blank20 hide-992"></div>
            <div class="blank20 hide-992"></div>
        </div>
    </div>
</div>
{include file="public/footer"}