{include file="public/header"}
<div id="website" class="trans">
    <div id="banner" class="banner relative fz0 swiper-container max-limit">
        <div class="swiper-wrapper">
            <div class="item swiper-slide relative over"> <img src="__TROOT__/index/img/6fdeba1a04.jpg" class="max-w100 block trans relative"> </div>
        </div>
    </div>
    <div class="blank20"></div>
    <div id="info">
        <div class="wrap1200 web-title text-center">
            <div class="title-0">{$field.title}</div>
        </div>
        <div class="blank20"></div>
        <div class="blank20"></div>
        <div class="info-detail wrap1200">
            {$field.content}
        </div>
        <div class="blank20"></div>
        <div class="blank20"></div>
    </div>
</div>
{include file="public/footer"}