<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>旅游公司</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="__TROOT__/index/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__TROOT__/index/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__TROOT__/index/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="__TROOT__/index/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="__TROOT__/index/css/global.css" rel="stylesheet" type="text/css" />
    <link href="__TROOT__/index/css/lib.css" rel="stylesheet" type="text/css" />
    <link href="__TROOT__/index/css/style.css" rel="stylesheet" type="text/css" />
    <script src="__TROOT__/index/js/global.js"></script>
    <script src="__TROOT__/index/js/cn.js"></script>
    <script src="__TROOT__/index/js/checkform.js"></script>
    <script src="__TROOT__/index/js/jquery-1.9.1.min.js"></script>
    <script src="__TROOT__/index/js/wow.min.js"></script>
    <script src="__TROOT__/index/js/bootstrap.min.js"></script>
    <script src="__TROOT__/index/js/swiper.jquery.min.js"></script>
</head>
<body>
<header id="header" class="clean trans">
    <div class="wrap1200" style="height: 100%;">
        <div id="logo" class="fl fz0 trans"> <a href="index.html"><img src="__TROOT__/index/img/38c6ff29eb.png" class="block" height="100%"></a> </div>
        <div id="menu" class="clean"> <a href="javascript:;" id="menu-btn" class="fr glyphicon glyphicon-menu-hamburger block-992"></a>
            <nav id="nav" class="fr flex flex-wrap relative text-center"> <a href="javascript:;" class="menu-close block clean relative block-992" rel="nofollow"> <i class="fr inherit fa fa-close middle"></i></a>
                <div class="nav-item">
                    <div class="relative"> <a href="/"  class="item-a {if condition='$controller == "Index"'}on{/if}" >首页</a> </div>
                </div>
                <div class="nav-item">
                    <div class="relative"> <a href="{:url('product/index')}" class="item-a {if condition='$controller == "Product"'}on{/if}">租车服务</a></div>
                </div>
                <div class="nav-item">
                    <div class="relative"> <a href="{:url('scenic/index')}" class="item-a {if condition='$controller == "Scenic"'}on{/if}">景点分类</a> </div>
                </div>
                <div class="nav-item">
                    <div class="relative"> <a href="{:url('guide/index')}" class="item-a {if condition='$controller == "Guide"'}on{/if}">导游信息</a> </div>
                </div>
                <div class="nav-item">
                    <div class="relative"> <a href="{:url('news/index')}" class="item-a {if condition='$controller == "News"'}on{/if}">新闻动态</a> </div>
                </div>
                <div class="nav-item">
                    <div class="relative"> <a href="{:url('users/users')}" class="item-a {if condition='$controller == "Users"'}on{/if}">个人中心</a> </div>
                </div>
            </nav>
        </div>
    </div>
</header>