{include file="public/header"}
<link rel="stylesheet" href="__TROOT__/layuiadmin/layui/css/layui.css" media="all">
<script src="__TROOT__/layuiadmin/layui/layui.js"></script>
<div id="website" class="trans">
    <div class="blank20"></div>
    <style>
        #products .list-item {
            width: 21.66%;
            margin-left: 1.5%;
            margin-bottom: 2.5%;
            vertical-align: top;
        }
        .on{
            color: #009FE3 !important;
        }
        .layui-form-label{
            text-align: right;
            width: 80px;
        }
        .layui-input-block{
            margin-left: 80px;
        }
        .layui-form-radio>i:hover, .layui-form-radioed>i {
            color: #009FE3;
        }
    </style>
    <div id="products">
        <div class="wrap1200">
            <div class="products-list-title relative">
                <div class="title fl">个人中心</div>
            </div>
            <div class="blank25"></div>
            <div class="blank25"></div>
            <div class="fz0">
                <div class='list-item inline-block '>
                    <div class="list-item-wrap" style="min-height: auto">
                        <div class="list-item-name over">
                            <a href="{:url('users/password')}" class="on" title="修改密码">修改密码</a>
                        </div>
                        <div class="list-item-name over">
                            <a href="{:url('users/users')}" title="个人资料">个人资料</a>
                        </div>
                        <div class="list-item-name over">
                            <a href="{:url('users/orders')}" title="我的订单">我的订单</a>
                        </div>
                        <div class="list-item-name over">
                            <a href="javascript:;" id="logout" title="退出">退出</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class='list-item inline-block' style="width: 75%">
                  <div class="list-item-wrap" style="min-height: auto">
                      <span>修改密码</span>
                  </div>
                  <div class="list-item-wrap" style="min-height: auto">
                      <div class="layui-form">
                          <input type="hidden" name="id" value="{$user.id}">
                          <div class="layui-form-item">
                              <label class="layui-form-label" for="user_pwd">旧密码</label>
                              <div class="layui-input-block">
                                  <input type="password" class="layui-input" value="" id="user_pwd" name="user_pwd">
                              </div>
                          </div>
                          <div class="layui-form-item">
                              <label class="layui-form-label" for="user_pwd">新密码</label>
                              <div class="layui-input-block">
                                  <input type="password" class="layui-input" value="" id="user_pwd_news" name="user_pwd_news">
                              </div>
                          </div>
                          <div class="layui-form-item">
                              <div class="layui-input-block">
                                  <label class="layui-form-label"><button class="layui-btn" lay-submit lay-filter="user_pwd_edit">保存</button></label>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="blank20"></div>
            <div class="blank20 hide-992"></div>
            <div class="blank20 hide-992"></div>
            <div class="blank20"></div>
            <div class="blank20 hide-992"></div>
            <div class="blank20 hide-992"></div>
            <div class="blank20 hide-992"></div>
        </div>
    </div>
    <script>
        layui.use(['form'],function () {
            var form = layui.form;
            //退出
            $('#logout').click(function(){
              layer.confirm("确认退出吗？",function(){
                $.get("{:url('users/logout')}",function(res){
                    layer.msg(res.msg,{icon: 6,time:1000},function(){
                        window.location.href = "{:url('login/index')}";
                    });
                },'json');
              });
            });
            //修改密码
            form.on('submit(user_pwd_edit)', function(data){
                $.post('{:url("users/edit_pwd")}',data.field,function (res) {
                    if (res.code == 200){
                        layer.msg(res.msg,{icon: 6,time:1000},function(){
                            window.location.reload();
                        });
                    } else {
                        layer.msg(res.msg,{icon: 5,time:1000},function(){
                            window.location.reload();
                        });
                    }
                },'json');
                return false;
            });
        });
    </script>
</div>
{include file="public/footer"}
