<!DOCTYPE html>
<html>
<head>
 {include file="public:title"/}
 <style media="screen">
   .layui-table tbody tr:hover{
     background-color: #fff;
   }
   .layui-form-select{
    width: 100px;
   }
   .layui-form-select dl dd.layui-this {
     background-color: #1E9FFF;
     color: #fff;
   }
 </style>
</head>
<body>
<div class="layui-fluid" class="layui-form">
  <div class="layui-card">
    <div class="layui-tab layui-tab-brief">
      <crmblok>
          <div style="position: relative;">
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
            <form class="layui-form" method="get" style="display:inline-block;position: absolute;right: 0;">
              <div class="layui-input-inline">
                <select name="type">
                  <option value="1" {if condition="$get['type'] == 1"}select{/if}>用户名称</option>
                  <option value="2" {if condition="$get['type'] == 2"}select{/if}>商品名称</option>
                </select>
              </div>
              <div class="layui-input-inline">
                <input type="text" name="name" value="{$get['name']}" class="layui-input" style="background-color:#eee;border:none;">
              </div>
              <button class="layui-btn layui-btn-normal" type="submit"><i class="layui-icon layui-icon-search"></i>搜索</button>
            </form>
          </div>
      </crmblok>
      <table class="layui-table">
          <thead>
            <tr>
              <th width="25" align="center">
                <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
              </th>
              <th align="center" style="width:80px;">序号</th>
              <th align="center">评论用户</th>
              <th align="center">评论商品</th>
              <th align="center">评论内容</th>
              <th align="center">评论星级</th>
              <th align="center">是否好评</th>
              <th align="center">评论时间</th>
              <th align="center">评论设备</th>
              <th align="center">操作</th>
            </tr>
          </thead>
          <tbody>
          {empty name="list"}
            <tr align="center" style="height:500px;"><td colspan="10">暂无评论</td></tr>
          {else}
            {foreach $list as $l}
              <tr>
                <td>
                  <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$l.id}'><i class="layui-icon">&#xe605;</i></div>
                </td>
                <td>{$l['id']}</td>
                <td>{$l['user_name']}</td>
                <td>{$l['product_name']}</td>
                <td>{$l['comment']}</td>
                <td>{$l['rate']}</td>
                <td>{if condition="$l['is_praise'] == 1"}好评{elseif condition="$l['is_praise'] == 2"}中评{else}差评{/if}</td>
                <td>{:date('Y-m-d H:i:s',$l['create_t'])}</td>
                <td>{$l['device']}</td>
                <td>
                	<button class="layui-btn layui-btn-normal layui-btn-sm" onclick="del('{$l['id']}')">删除</button>
                </td>
              </tr>
            {/foreach}
          {/empty}
          </tbody>
        </table>
      <div style="text-align: center">
        <div class="laypage-main">
          {$list->render()}
        </div>
      </div>
    </div>
    </div>
  </div>
  <script>
  	function del(id)
  	{
  		layer.confirm("您确定删除该评论吗？",function(){
  		  $.post("{:url('comment/del')}",{id:id},function (res) {
            layer.msg(res.msg,{icon:res.icon,time:1000},function(){
              window.location.reload();
            });
          },'json');
  		});
  	}
    function delAll()
    {
      var datas = tableCheck.getData();
      layer.confirm("确认删除选择的评论吗？",function(){
        $.post("{:url('comment/del')}",{id:JSON.stringify(datas)},function (res) {
          layer.msg(res.msg,{icon:res.icon,time:1000},function(){
            window.location.reload();
          });
        },'json');
      });
    }
  </script>
</body>
</html>
